:root {
  --color-white: #fff;
  --height-nav: 50px;
  --min-height-result: 200px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  max-height: 50%;
  height: 50%;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black 0.3;
  opacity: 0.5;
}

body {
  background-color: #f5f5f5;
  color: var(--color-white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.pd-r {
  padding-right: 15px;
}

.pd {
  padding: 8px 0;
}

.top-header {
  background-color: var(--color-white);
  font-size: 0.8rem;
  font-weight: 500;
}

.top-p p {
  padding: 4px 0;
}

.main-header {
  background-color: black;
  padding: 4px 0;
  display: flex;
  align-items: center;
}

.dfx {
  align-items: center;
}

.main-header .main-logo {
}

.main-logo .logo-item {
  width: 150px;
  max-width: 100%;
  padding-right: 15px;
}

.main-search {
  position: relative;
}

.main-search:focus ~ .search-result {
  display: block;
}

.main-search .input-search {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border: none;
  border-radius: 6px;
  outline: none;
  position: relative;
}

.search-result {
  position: absolute;
  background: var(--color-white);
  width: 100%;
  border-radius: 6px;
  color: black;
  min-height: 400px;
  border-top: 1px solid #ccc;
  top: 40px;
  display: none;
}

.content-result {
  padding: 10px 0;
}

.content-result h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 18px;
}
.number-product,
.number-posts {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  text-transform: uppercase;
  background: #f5f5f5;
  padding: 4px 15px;
}

.content-search {
  padding: 10px 15px 0 15px;
}

.content-item {
  margin-bottom: 20px;
}

.content-item .img-search {
  width: 80px;
  flex: 0 0 100px;
  padding-right: 10px;
  height: 80px;
}
.img-search img {
  object-fit: contain;
  width: 100%;
}

.name-search {
  font-size: 14px;
  font-weight: 500;
}

.name-search a {
  text-decoration: none;
  color: #000;
}

.name-search:hover a {
  color: #be2d23;
  animation: all 0.3s;
}

.main-search button {
  height: 36px;
  width: 80px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 8px;
  position: absolute;
  right: 2px;
  top: 2px;
}

.icon-item {
  font-size: 1.5rem;
}

.pd__l {
  padding-left: 12px;
}

.main-utilities {
  position: relative;
  display: flex;
  align-items: center;
}

.map-store {
  position: relative;
  padding: 0 4px;
}

.icon-store {
  margin-right: -4px;
  position: relative;
}

.text-store p {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 6px;
}

.text-store .icon-item {
  font-size: 10px;
  font-weight: 700;
}

.location-store {
  display: none;
  position: absolute;
  background: #f8f8f8;
  border: solid 1px #dfe3e8;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
  max-width: 420px;
  width: 420px;
  top: calc(100% + 12px);
  transform: translateX(-50%);
  height: 200px;
  z-index: 999;
}

.icon-dropdown {
  position: absolute;
  top: -20px;
  right: 50%;
}

.icon-dropdown i {
  font-size: 20px;
}

/* .location-store::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  right: 50%;
  left: 50%;
  top: -4px;
  z-index: -999;
  transform: rotate(45deg);
} */

.dfj {
  justify-content: space-between;
  margin-left: -10px;
}

.cart .number-cart {
  position: absolute;
  width: 15px;
  background: var(--color-white);
  color: black;
  font-weight: 500;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  font-size: 15px;
  top: 2px;
  right: 2px;
}

.nav__content {
  background-color: var(--color-white);
  text-transform: uppercase;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
}

.nav__content {
}

.menu {
  justify-content: center;
  align-items: center;
}

.menu li,
.sub-menu li {
  list-style-type: none;
  display: block;
}

.menu li a,
.sub-menu li a {
  text-decoration: none;
  color: #000;
  padding: 6px 15px;
  font-size: 10px;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
}

.sub-menu,
.sub-menu-item {
  position: absolute;
  display: none;
  background-color: var(--color-white);
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15);
  min-width: 150px;
}

.sub-menu > li,
.sub-menu-item > li {
  border: 1px solid #ccc;
}

.sub-menu > li > a {
  padding-bottom: 2px !important;
}

.menu li:hover .sub-menu {
  display: block;
}

.menu li:hover .sub-menu-item {
  display: block;
}

.b-g-sale {
  background-color: #be2d23;
}

.b-g-sale a {
  color: #fff;
}

.nav-mobile {
  padding: 0 16px;
  background-color: #000;
}

.group-icon-nav-mobile {
  padding-left: 20px;
}

.group-icon {
  justify-content: flex-end;
}

.cart-mobile,
.search-mobile {
}

.icon-group {
  font-size: 18px;
  padding-right: 10px;
}

.name-icon p {
  font-size: 14px;
  font-weight: 600;
}

@media (max-width: 740px) {
  .name-icon {
    display: none;
  }

  header {
    display: none;
  }

  .cart-mobile,
  .search-mobile,
  .account-mobile {
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  header {
    display: none;
  }
}
